$Brown:#4D2C19;

.buttoncard{
        background-color:$Brown;
        font-size: 10px;
        color: #FFFDF8;
        font-family:'jost';
        border-radius: 4px;
        margin-left: 60%;
        font-weight: 400;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
      
}

