$brown:#4D2C19;

.description{

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}

.linkHeading{

  color: $brown;
font-style: normal;
font-weight: 500;
font-size: 19.2px;

}

.linkSubHeadings{
font-style: normal;
font-weight: 400;



gap: 20px;



}

.linkHeading2{

  color: $brown;
  font-style: normal;
  font-weight: 500;
  font-size: 19.2px;
  line-height: 35px;

}

.logo{

height: 90px;
width: 138.7894744873047px;
left: -5px;
top: 5px;
border-radius: 0px;

}

.SignUpHeadline{



font-family: 'Rodeluxet';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 56px;
color: #4D2C19;
opacity: 0.75;

}

.SignUpHeadline2{
font-family: 'Rodeluxet';
font-style: normal;
font-weight: 400;
font-size: 57px;
color: #4D2C19;



}

.svgEmail{

    height: 10.01px;
    width: 15.75px;
    left: 1.125px;
    top: 2.8125px;
    border-radius: 0px;

}
.svgContact{
    height: 10.01px;
    width: 15.75px;
    left: 1.125px;
    top: 2.8125px;
    border-radius: 0px;
}

.svgNameEmail{

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

}

.svgNameContact{

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    }

.serendib{

  color: #4D2C19;
  font-weight: 400;
  
}