$brown:#4D2C19;

.description{

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}

.linkHeading{

  color: $brown;
font-style: normal;
font-weight: 500;
font-size: 19.2px;
line-height: 35px;
}

.linkSubHeadings{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

gap: 20px;



}

.linkHeading2{

  color: $brown;
  font-style: normal;
  font-weight: 500;
  font-size: 19.2px;
  line-height: 35px;

}

.logo{

height: 90px;
width: 138.7894744873047px;
left: -5px;
top: 5px;
border-radius: 0px;

}

.SignUpHeadline{
    width: 419px;
height: 144px;

font-family: 'Rodeluxet';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 56px;

}

.SignUpHeadline2{

font-family: 'Rodeluxet';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height:16px;

}