$Brown:#4D2C19;

.navbar{

    
  
   }
  
  .navbarHeadings{
    
    font-size: small;

    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFF9EE;
    &:hover{
      color:#d3d1ce;
    }
  }

  .logoimg{

    width:97.15px;
    height:63px;
    top:3px;
   
  }

  .navbarHeadingsleft{
    font-size: small;
    font-family:'jost';
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-right: 100px;
    color: #FFF9EE;
    &:hover{
      color:#d3d1ce;

    }
  }