.title{

    font-size: medium;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: #FAFAFA;
   
}
.imageresponsive{
    height: 12rem !important;
    object-fit: cover;
    width: 60rem !important;
}

.paragraph{
    
    font-style: normal;
    font-weight: 400;
    line-height: 34PX;
   
}

