.heroheading{
    position: absolute;
    width: 1484px;
    height: 247px;
    position: absolute;
    width: 1484px;
    height: 247px;
    font-family: 'Rodeluxet';
    font-style: normal;
    font-weight: 400;
    font-size: 150.40px;
    line-height: 247px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}